* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: 0;
}

/*NAV BAR*/
nav {
    background-color: white;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 15px;
}
li:hover{
    background-color: goldenrod;
    color: white;
}
body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
}

/*EXTRAS*/
.center{
    text-align: center;
    color: goldenrod;
}
.principal-text {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
h1 {
    font-size: 280%;
}
.position {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 400px;
    object-fit: cover;
    margin-top: 10px;
}
.back-img{
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("../assets/imageness/bakg-img.webp")
}
.click-im {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height:50%;
}
h3 {
    text-align: center;
    color: goldenrod;
}
.principal{
    padding-top: 20px;
    margin-top: 10vh;
}

/* FORMULARIO*/
form{
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:rgb(87, 69, 49);
}
form label{
    width:72px;
    font-weight:bold;
    display:inline-block;
}
form input[type="text"],
form input[type="email"]{
    width:180px;
    padding:3px 10px;
    border:1px solid goldenrod;
    border-radius:3px;
    background-color: goldenrod;
    margin:8px 0;
    display:inline-block;
}
form input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:rgb(240, 183, 97);
    background-color:#000;
} 
form input[type="submit"]:hover
{
cursor:pointer;
}
textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;			
    margin:8px 0;
    resize:none;
    display:block;
}

/* FOOTER */
footer {
    background-color: #333;
    bottom: 0;
    /*width: 100%;*/
    margin-top: auto;
    margin: 10px;
    padding: 10px;
    color: goldenrod;
    text-align: center;
}
.flaot {
float: right;
}

/*TRABAJO CON GALERIA*/

.gallery-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 150px;
padding: 20px;
grid-gap: 10px;
}
.gallery__item{
position:relative;
}
.gallery__img{
width: 100%;
height: 100%;
object-fit: cover;
}

.gallery__item:nth-child(1) {
grid-column-start: span 2;
grid-row-start: span 2;
}
.gallery__item:nth-child(5) {
grid-row-start: span 2;
}

.gallery__title {
    position: absolute;
    bottom:0;
    color: white;
    width: 100%;
    margin: 0;
    position: absolute; 
}
@media (min-width:500px){
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:780px){
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1024px){
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.gallery__img:hover{
    background-color: gold;
    opacity: 0.3;
    }
